@charset "utf-8";
/* CSS Document */

body {
 font-size: 1rem;
}

.carousel-img-first {
	height: 35rem;
	width: 100%;
	background-position: center;
	background-image: 
	linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),	
	url(../images/index-banner-first.jpeg)
}

.carousel-img-second {
	height: 35rem;
	width: 100%;
	background-position: center;
	background-image: 
	linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),	
	url(../images/index-banner-second.jpg);
}

.carousel-img-third {
	height: 35rem;
	width: 100%;
	background-position: center;
	background-image: 
	linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),	
	url(../images/index-banner-third.jpeg);
}

.carousel-btn {
	border-radius: 0px;
	font-size:1rem;
	border-width:1px 1px 1px 1px;
	border-color: #FFFFFF;
	color:#FFFFFF;
	background: none;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.carousel-btn:hover {
	background:#FFFFFF;
	color: #000000;
}

.tile-btn {
	border-radius: 0px;
	font-size: 1rem;
	font-weight: 300;
	border-width: 1px 1px 1px 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	background:rgba(125,125,125,0.90);
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.tile-btn:hover {
	border-color: #FFFFFF;
	background: none;
	color: #FFFFFF;
}