@charset "utf-8";
/* CSS Document */

.bg-tile-1 {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(../images/job-openings-first-tile.jpeg);
	background-position: center;
	height: 25rem;
	
}

.tile-btn {
	font-weight: 300;
	border: 1px 1px 1px 1px;
	border-radius: 0px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	background: none;
	transition-duration: 0.3s;
}

.tile-btn:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #7C8893;
}