@charset "utf-8";
/* CSS Document */

/* Site Wide Styling */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');

body {
	font-family: 'Open Sans', sans-serif; 
}

h1, h2, h3, h4 {
	font-family: 'Oxygen', sans-serif;
}

.navbar-expanded-border-color {
	border-color:#8D8D8D;
}

.navbar-expanded-content-item {
	font-size: 1rem;
	color: #000000;
	transition-delay: 0.1s;
	transition-timing-function: ease;
}

.navbar-expanded-content-item:hover {
	color: #7C8893;
	/*border-bottom: 2px solid #7C8893;*/
	text-decoration: none;	
}

.expanded-nav-icons {
	width: 50px;
	height: auto;
}

.expanded-nav-icons:hover {
	color: #7C8893;
}

.bg-main {
	background-color: lightgrey;
}

.bg-accent {
	background-color: lightskyblue;
}
.bg-gray {
	background-color:#A6A6A6;
}

.tile {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
}

.tile-border {
	border: none;
}

.tile-img {
	background-repeat: no-repeat;
	background-size: cover;
	height: 40rem;
}

.line {
	height: 1px;
	background-color: #dfdfdf;
	max-width: 1200px;
}

/* Index Styling */

/* Footer Styling */

.bg-footer {
	background-color:#F3F3F3;

}

.footer-link {
	color: #000000;
	transition-delay: 0.1s;
}

.footer-link:hover {
	text-decoration: none;
	color: #7C8893;
}

.footer-icon {
	opacity:0.3;
	width:40px; 
	height:auto;
	text-decoration: none;
}

.footer-icon:hover {
	opacity:1.0;
	text-decoration:none;
}